nodered_flow.json
[{"id":"5c9ea2e6.607abc","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"b7b5a21d.d0c34","type":"ui_template","z":"5c9ea2e6.607abc","group":"d9610d2c.dd28e","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<title>MG Chatbot</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nbody {\n  font-family: Arial, Helvetica, sans-serif;\n  margin: 0;\n}\n\n/* Style the header */\n.header {\n  padding: 2px;\n  text-align: top-left;\n  background: Blue;\n  color: Yellow;\n\n}\n\n/* Increase the font size of the h1 element */\n.header h3 {\n  font-size: 50px;\n}\n</style>\n</head>\n<body>\n\n<div class=\"header\">\n  <h2>MG Motors Chatbot</h2>\n  <p></p>\n</div>\n\n<div class=\"content\">\n  <h3></h3>\n  <p><b></b></p>\n  <p> <b></b></p>\n  <p> <b></b></p>\n \n  <p></p>\n</div>\n\n<script>\n// When the user scrolls the page, execute myFunction \nwindow.onscroll = function() {myFunction()};\n\nfunction myFunction() {\n  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;\n  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;\n  var scrolled = (winScroll / height) * 80;\n  document.getElementById(\"mybar\").style.width = scrolled + \"%\";\n}\n</script>\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":480,"y":40,"wires":[[]]},{"id":"4de3bfe1.8463b","type":"ui_form","z":"5c9ea2e6.607abc","name":"","label":"","group":"d9610d2c.dd28e","order":4,"width":"0","height":"0","options":[{"label":"Enter input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"Reset","topic":"","x":70,"y":240,"wires":[["bcdc3058.22b3b"]]},{"id":"bcdc3058.22b3b","type":"function","z":"5c9ea2e6.607abc","name":"F1","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":240,"wires":[["e123b416.2b0198"]]},{"id":"e123b416.2b0198","type":"watson-conversation-v1","z":"5c9ea2e6.607abc","name":"","workspaceid":"9e240173-8788-4dc1-9681-469dbf7087bb","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/8587c231-3a50-41f5-998c-dc0b37396c97","timeout":"","optout-learning":false,"x":340,"y":180,"wires":[["45a1edc1.2c5e14","e05c0c19.1144e"]]},{"id":"45a1edc1.2c5e14","type":"function","z":"5c9ea2e6.607abc","name":"F2","func":"\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["e86cf166.1f081","74858753.d319f8"]]},{"id":"e05c0c19.1144e","type":"debug","z":"5c9ea2e6.607abc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":100,"wires":[]},{"id":"e86cf166.1f081","type":"debug","z":"5c9ea2e6.607abc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":200,"wires":[]},{"id":"74858753.d319f8","type":"ui_text","z":"5c9ea2e6.607abc","group":"d9610d2c.dd28e","order":3,"width":0,"height":0,"name":"","label":"*Response*","format":"{{msg.payload}}","layout":"col-center","x":650,"y":380,"wires":[]},{"id":"d9610d2c.dd28e","type":"ui_group","z":"","name":"","tab":"e6ae8085.91789","order":1,"disp":true,"width":"6","collapse":false},{"id":"e6ae8085.91789","type":"ui_tab","z":"","name":"Customer help desk","icon":"dashboard","order":1,"disabled":false,"hidden":false}]